/*  LG - SMALL LAPTOPS: 1024px - 1200p */

@media (max-width: 72rem){
    /* 1150px / 16px = 72rem */
    /* 72rem * 16px = 1152px */

    html{
        font-size: 56.25%;
        /* 9px / 16px  = 56.25%*/
    }

    .features-grid-container{
        column-gap: 3rem;
    }

}

/*  MD - TABLETS: 768px - 1024px */

@media (max-width: 59rem){
    /* 950px / 16px = 59rem*/
    /* 60rem * 16px = 944px */

    html{
        font-size: 43.75%;
        /* 7px / 16px = 50% */
    }

    .nav-bar{
        height: 8rem;
    }

    #logo{
        width: 130px;
    }

    .features-grid-container{
        column-gap: 2rem;
    }

}

/* SM - PHONE LANDSCAPE: 576px - 768px */

@media (max-width: 42.5rem){
    /* 680px / 16px = 42.5rem */
    /* 42.5rem * 16px =  680px*/

    html{
        font-size: 37.5%;
        /* 6px / 16px = 37.5% */
    }

}

/* XS - PHONE PORTRAIT: <576px */

@media (max-width: 34rem){
    /* 520px / 16px = 33.125rem */
    /* 34rem * 16px = 544px*/

    html{
        font-size: 32%;
        /* 5px /16px = 31.25% */
    }

    h1, h2, h3, h4, h5{
        letter-spacing: -1px;
    }

    #logo{
        width: 90px;
    }

    .hero-section{
        height: auto;
    }

    .features-grid-container{
        grid-template-columns: 1fr;
    }

    .feature-img-swap-order{
        grid-row: auto;
        grid-column: auto;
    }

    .cta-card{
        padding: 9rem 5rem;
    }


}